extends partials/layout
block content
  if title
    h1= title
  else
    h1 Template page
  include mixins/portlet.pug
  #sortable_portlets.row
    .col-sm-4
      +myPortlet({title: "My portlet"})
        p This is some stupid text .col-sm-4.sortable.column
    .col-sm-4
      +myPortlet({title: "My portlet2"})
        p This is some stupid text .col-sm-4.sortable.column
    .col-sm-4
      +myPortlet({title: "My portlet3"})
        p This is some stupid text


  block page_level_plugins
    script(src='../assets/global/plugins/jquery-ui/jquery-ui.min.js', type='text/javascript')






